{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "classnames", "cva", "cn", "twMerge"],
  "pluginSearchDirs": false,
  "importOrder": [
    "^next",
    "^react",
    "^@[^/]+/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/styles/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/apis/(.*)$",
    "^@/libs/(.*)$",
    "^@/utils/(.*)$",
    "^~"
  ],
  "importOrderSortSpecifiers": true
}
