@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  max-width: 475px;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-width: none;
}

@media (min-width: 475px) {
  body {
    width: 475px;
    position: relative;
    margin: auto;
  }
}