@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  max-width: 475px;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-width: none;
}

@media (min-width: 475px) {
  body {
    width: 475px;
    position: relative;
    margin: auto;
  }
}

@layer base {
  html {
    @apply tw-bg-slate-50;
  }

  body {
    @apply tw-bg-white;
  }
}
